@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 1em;
}

html,body {
    min-height: 100vh;
}

h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.363);
    padding: 10px;
    text-align: left;

}

.image01 {
    text-align: center;
}

.image01 p {
    padding: 10px;
}

#samuel{
    font-size: xx-large;
}

.image01 a {
    color: black;
    background-color: rgba(255, 255, 255, 0.377);
    text-decoration: none;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
    font-size: .8em;
}

section > a {
    background-color: white;
}

.normal {
    text-align: center;
    font-size: x-large;
}

.image02 {
    text-align: center;
    padding: 20px;
    
}

.image02 p {
    padding: 10px;
}

.image02 a {
    color: black;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.377);
    padding: 10px;
    border-radius: 10px;
    font-size: .8em;
}

section.normal {
    padding-top: 20px;
    margin-bottom: 30px;
    background-color: white;
    color: black;
} 

.continer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}


.img {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: flex-end;
}

.link {
    margin-bottom: -60px;
    padding-bottom: 30px;
}


div#i1 {
    background-image: url(../imagens/home1.png);
    background-position: center center;
    background-size: cover;
}

div#i2 {
    background-image: url(../imagens/Phone-Icon.png);
    background-position: center center;
    background-size: cover;
}

div#i3 {
    background-image: url(../imagens/contato.png);
    background-size: cover;
}

.large {
    font-size: xx-large;
    padding-bottom: 10px;
}

.normal a {
    color: black;
    text-decoration: none;
}

section#img01 {
    background-image: url(../imagens/Spotify-for-Work.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

section#img02 {
    background-image: url(../imagens/Spotify-for-Work.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


#header2 {
    font-size: .6em;
    display: flex;
    justify-content: flex-end;
}